[user]
	name = Julien Lambé
	email = julien@themosis.com

[core]
	excludesFile = ~/.gitignore
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
